<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lista de Clientes</title>
</head>
<body>
    <h1>Lista de Clientes</h1>
    <hr>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Email</th>
            <th>CPF</th>
            <th>Excluir</th>
            <th>Editar cliente</th>
        </tr>
        {% for person in persons %}
        <tr>
            <td>{{ person._id }}</td>
            <td>{{ person.name }}</td>
            <td>{{ person.phone }}</td>
            <td>{{ person.email }}</td>
            <td>{{ person.cpf }}</td>
            <td><a href="/delete/{{ person._id }}">X</a></td>
            <td><a href="/update/{{ person._id }}">Atualizar</a></td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/index">voltar</a>

</body>
</html>